go 1.21.1

use ./BitShifting
use ./PrintVerbs
use ./BiDeciHex
use ./Int-Uint
use ./Code_Management
use ./IfStatement
use ./Loops
use ./Slices
use ./Switch
use ./Maps
use ./Struct
use ./Interface-Polymorphism
use ./11-Hands-on-testing-db
use ./12-Hands-on-unit-testing
use ./13-Hands-on-unit-test2
use ./bcrypt
use ./40-Hands-on-Benchmarking
